# fly.toml app configuration file generated for jonobabytrack on 2026-01-25T14:20:31+13:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'jonobabytrack'
primary_region = 'syd'

[build]

[env]
  PORT = '8080'

[[mounts]]
  source = 'jonobabytrack_data'
  destination = '/data'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  size = 'shared-cpu-1x'
  memory = '256mb'
